<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_4:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_4_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_4/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_4" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="module" name="lib" module-name="spring_4" />
          <element id="library" level="module" name="lib (2)" module-name="spring_4" />
        </element>
      </element>
    </root>
  </artifact>
</component>